<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageScaling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>428F0B6E1DE4ABF600B065BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428F0B821DE4ABF700B065BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428F0B8D1DE4ABF700B065BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
